<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issues</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="flex-center">
<table class="styled-table">
    <caption>Записи</caption>
    <thead>
    <tr>
        <td>ID</td>
        <td>Книга</td>
        <td>Читатель</td>
        <td>Дата записи</td>
        <td>Дата возврата</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue: ${issues}">
        <td th:text="${issue.id}"></td>
        <td th:text="${issue.book.title}"></td>
        <td th:text="${issue.reader.name}"></td>
        <td th:text="${issue.getIssuedDateOnRu()}"></td>
        <td th:text="${issue.getReturnedDateOnRu()}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>