<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reader</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="flex-center">
<table class="styled-table">
    <caption th:text="${reader.id + '. ' + reader.name}"></caption>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Дата записи</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue: ${issues}">
        <td th:text="${issue.book.id}"></td>
        <td th:text="${issue.book.title}"></td>
        <td th:text="${issue.getIssuedDateOnRu()}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>